#####################################################
example 1
#####################################################

## elasticsearch cluster template

cluster.name: master-node
node.name: elk-tst1
node.master: true
node.data: true
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 192.168.136.142
http.port: 9200
discovery.seed_hosts: ["192.168.136.142", "192.168.136.143", "192.168.136.130"]
cluster.initial_master_nodes: ["192.168.136.142", "192.168.136.143", "192.168.136.130"]
xpack.security.enabled: false

node2 &3 config

cluster.name: master-node
node.name: elk-tst2
node.master: true
node.data: true
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 192.168.136.143
http.port: 9200
discovery.seed_hosts: ["192.168.136.142", "192.168.136.143", "192.168.136.130"]
cluster.initial_master_nodes: ["192.168.136.142", "192.168.136.143", "192.168.136.130"]
xpack.security.enabled: false


#####################################################
example 2
#####################################################

## master node config
cluster.name: elk-cluster
node.name: elk01
node.master: true
node.data: false
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 10.0.0.1
http.port: 9200
discovery.seed_hosts: ["10.0.0.1", "10.0.0.2", "10.0.0.3"]
cluster.initial_master_nodes: ["10.0.0.1", "10.0.0.2", "10.0.0.3"]
xpack.security.enabled: false



## data node config
cluster.name: elk-cluster
node.name: elk02
node.master: true
node.data: true
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 10.0.0.2
http.port: 9200
discovery.seed_hosts: ["10.0.0.1", "10.0.0.2", "10.0.0.3"]
cluster.initial_master_nodes: ["10.0.0.1", "10.0.0.2", "10.0.0.3"]
xpack.security.enabled: false
